@import "../../styles/variables.scss";
@import "../../styles/checkbox.scss";

.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding: 10px 0;
  margin: 10px;
  width: 650px;
  user-select: none;

  &__desc {
    display: flex;
    align-items: center;

    .title {
      width: 450px;
      margin-left: 10px;
      padding-top: 2px;
      word-wrap: break-word;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    .title-done {
      text-decoration: line-through;
      opacity: 0.6;
    }

    .form {
      margin: -2px 0;

      input {
        width: 400px;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    padding: 0 5px;
    margin: 0 5px;
  }

  &__button {
    border: none;
    background-color: transparent;
    font-size: 32px;
    padding: 0 5px;
    margin: 0 5px;
    opacity: 0.5;
    cursor: pointer;
    outline: none;
    transition: 0.3s;

    &:hover {
      opacity: 1;
      transform: scale(1.5);
    }
  }
}

.edit {
  opacity: 0.2;
  color: black;
  margin-bottom: 2px;
  display: flex;
  align-items: center;

  .fa-edit {
    font-size: 20px;
  }

  &:hover {
    color: dimgray;
  }
}

.remove {
  font-weight: bold;
  color: $red-color;

  &:hover {
    color: $red-color-hover;
  }
}

@media screen and (max-width: 700px) {
  .todo-item {
    width: 470px;

    &__desc {
      .title {
        width: 320px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .todo-item {
    width: 300px;
    margin: 0;

    &__desc {
      .title {
        width: 150px;
      }

      .form {
        margin: -2px 0;

        input {
          width: 80px;
        }
      }
    }
  }
}
