@import "../../styles/variables.scss";
@import "../../styles/checkbox.scss";

.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 600px;
  user-select: none;

  &__desc {
    display: flex;
    align-items: center;

    .title {
      width: 450px;
      margin: 0 0 0 10px;
      word-wrap: break-word;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    .title-done {
      text-decoration: line-through;
      opacity: 0.6;
    }
  }

  &__remove {
    font-weight: bold;
    color: $red-color;
    border: none;
    background-color: transparent;
    font-size: 32px;
    padding: 0 10px;
    margin: 0 10px;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 1;
      color: $red-color-hover;
      transform: scale(1.5);
    }
  }
}
