.todo-item {
  display: flex;
  justify-content: space-between;
  border: 2px solid gray;
  padding: 10px 0;
  width: 500px;

  &:not(:first-child) {
    margin-top: -2px;
  }

  &__desc {
    .checkbox {
      margin: 0 5px 0 10px;
    }

    .id {
      margin: 0 10px 0 5px;
      font-weight: bold;
    }

    .title {
    }

    .done {
      text-decoration: line-through;
    }
  }

  &__remove {
    font-weight: bold;
    padding: 0 10px;
    margin: 0 10px;
  }
}
