@import "./variables.scss";

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}

input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border: 4px solid $red-color;
  border-radius: 100%;
  position: absolute;
  left: 3px;
  top: 0;
  transition: all 0.2s, border-color 0.05s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -10px;
  left: 10px;
  border-radius: 0;
  border-width: 5px;
  border-color: darken($golden-color, 15%);
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}
