@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.filter__button {
  @include default-button;
  width: 170px;
  border: none;
  border-radius: 0px;
  padding: 7px 0px 5px;

  &:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  &:not(:first-child) {
    margin-left: -2px;
  }

  &:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  &_active {
    background-color: $golden-color;

    &:hover {
      background-color: $golden-color-hover;
    }
  }
}
