.header {
  font-size: 28px;
  font-weight: 600;
  user-select: none;

  .link,
  .link:visited,
  .link:active {
    font-size: 28px;
    cursor: pointer;
    color: black;
    padding: 2px 7px;
    transition: 0.5s;
    outline: none;
    border: 2px solid transparentize(white, 1);
  }

  .link:hover {
    color: #61dafb;
    border: 2px solid #61dafb;
    background-color: #282c34;
  }
}
